.timeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 2.6rem;
    padding: 1.6rem 0;
    margin: 10px auto;
    border: 1px solid deepskyblue;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: fantasy;
    color: white;
    position: sticky;
    top:0.6%;
    cursor: pointer;
}

.time{
    font-size: 2.5rem;
}

.sec{
    width: 3rem;
}

.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}